.contact {
    align-items: center;
    justify-content: center;
    color: $dark-blue;
    .emailLink {
        color: $dark-blue;

        &:hover {
            color: $lighit-blue;
        }
    }
}