.contact {
    align-items: center;
    justify-content: center;
    color: $dark-blue;
    .emailLink {
        color: $cta-color;
        
        &:hover {
            color: $dark-blue;
        }
    }
}