@import 'config';
@import 'navBar';
@import 'footer';
@import 'home';
@import 'projects';
@import 'skills';
@import 'about';
@import 'contact';


body {
    background-color: $light-grey;
    background-image: radial-gradient(transparent 65%, rgba(black, 0.3));
    font-family: sans-serif;
}

.main-content {
    min-height: 94vh;
    display:flex;
}

